__pycache__/*
*.csv
*.R
*.txt
pdf/*
*.dta
*.xlsx
*.ipynb_checkpoints
.vscode/*
*.log
*.bbl
*.bcf
*.fls
*.bcf
*.run.xml
**/*_cache/*
*.shp
*.shx
*.qpj
*.dbf
*.RData
*.Rds
*.tab
*.swp
*.spq
*.pqt
*.geojson
*.gpkg
*.aux
*.blg
*.out
*.synctex.gz
scratch.ipynb
